In [2]:
import pandas as pd

In [4]:
gene2pub = pd.read_csv("gene-pubmed-data/gene2pubmed", sep = "\t")
gene2pub

          #tax_id    GeneID  PubMed_ID
0              24  77267466    1779750
1              24  77267466   16753031
2              24  77267466   21620858
3              24  77267467   21219854
4              24  77267467   30366028
...           ...       ...        ...
19445935  3054486  65316363   33182384
19445936  3054486  65316365   33182384
19445937  3054486  65316367   33182384
19445938  3054486  65316368   33182384
19445939  3054486  65316369   33182384

[19445940 rows x 3 columns]

In [5]:
geneinfo = pd.read_csv("gene-pubmed-data/gene_info", sep = "\t")
geneinfo

/tmp/ipykernel_1350257/2557812107.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  geneinfo = pd.read_csv("gene-pubmed-data/gene_info", sep = "\t")

,#tax_id,GeneID,Symbol,LocusTag,Synonyms,dbXrefs,chromosome,map_location,description,type_of_gene,Symbol_from_nomenclature_authority,Full_name_from_nomenclature_authority,Nomenclature_status,Other_designations,Modification_date,Feature_type
0,7,5692769,NEWENTRY,-,-,-,-,-,Record to support submission of GeneRIFs for a...,other,-,-,-,-,20230125,-
1,9,2827857,NEWENTRY,-,-,-,-,-,Record to support submission of GeneRIFs for a...,other,-,-,-,-,20230125,-
2,11,10823747,NEWENTRY,-,-,-,-,-,Record to support submission of GeneRIFs for a...,other,-,-,-,-,20230215,-
3,14,6951813,NEWENTRY,-,-,-,-,-,Record to support submission of GeneRIFs for a...,other,-,-,-,-,20230306,-
4,19,3758873,NEWENTRY,-,-,-,-,-,Record to support submission of GeneRIFs for a...,other,-,-,-,-,20230306,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46406524,3056515,20832445,CYTB,-,-,-,MT,-,cytochrome b,protein-coding,-,-,-,cytochrome b,20230623,-
46406525,3056515,20832446,ND1,-,-,-,MT,-,NADH dehydrogenase subunit 1,protein-coding,-,-,-,NADH dehydrogenase subunit 1,20230623,-
46406526,3056515,20832447,LSU,-,-,-,MT,-,16S ribosomal RNA,rRNA,-,-,-,-,20230623,-
46406527,3056515,20832448,SSU,-,-,-,MT,-,12S ribosomal RNA,rRNA,-,-,-,-,20230623,-
46406528,3056515,20832449,ND2,-,-,-,MT,-,NADH dehydrogenase subunit 2,protein-coding,-,-,-,NADH dehydrogenase subunit 2,20230623,-

In [9]:
genehuman = geneinfo.loc[geneinfo.iloc[:, 0].apply(lambda x : x == 9606), ["GeneID", "Symbol"]]

In [13]:
g2pubhuman = gene2pub.loc[gene2pub.iloc[:, 0].apply(lambda x: x == 9606), ["GeneID", "PubMed_ID"]]

In [19]:
g2pubhuman = g2pubhuman.drop_duplicates()
g2pubhuman

            GeneID  PubMed_ID
4129164          1    2591067
4129165          1    3458201
4129166          1    3610142
4129167          1    8889549
4129168          1   12477932
...            ...        ...
6120923  130890644   36899011
6120924  130890645   36899011
6120925  130932198   37291246
6120926  130932199   21827680
6120927  130932199   31696116

[1991764 rows x 2 columns]

In [22]:
g2idcounts = g2pubhuman.groupby("GeneID", as_index=False).count()
g2idcounts.sort_values(["PubMed_ID"],ascending=False)

          GeneID  PubMed_ID
5601        7157      11288
1546        1956       6508
5573        7124       6339
2774        3569       5293
5819        7422       5118
...          ...        ...
78762  127815044          1
78761  127815043          1
78759  127815041          1
78758  127815040          1
34881  110120582          1

[160588 rows x 2 columns]

In [26]:
combined = pd.merge(g2idcounts, genehuman, how="inner", on="GeneID")
combined.columns = ["GeneID", "#PubMed", "Symbol"]
combined = combined.sort_values(["#PubMed"], ascending=False)

In [28]:
combined.to_csv("data/pubmed_counts.tsv", sep = "\t", index = None)