### Function for Function Prediction

In [1]:
import numpy as np
import pandas as pd
import sys

from os.path import dirname
sys.path.append(dirname("../src/"))

from parse_protein_symbols import entrez_dict
from process_labels.get_labels import get_go_labels

def get_labels(proteins,
               obofile,
               g2gofile,
               GOT = "F",
               min_level = 5,
               min_protein_annotation = 50,
               symbol_to_id = lambda x:x):
    """
    Get the protein GO labels corresponding to a given protein.
    """
    
    go_type = "molecular_function"
    go_type = "biological_process" if GOT=="P" else go_type
    go_type = "cellular_component" if GOT=="C" else go_type
    
    filter_protein = {"namespace": go_type, "lower_bound": min_protein_annotation}
    filter_labels  = {"namespace": go_type, "min_level": min_level}
    f_labels, labels_dict = get_go_labels(filter_protein,
                                          filter_labels,
                                          proteins,
                                          lambda x: x,
                                          g2gofile,
                                          obofile,
                                          verbose = True)
    
    return f_labels, labels_dict

## Get the Uniprot-Entrez mapping

In [2]:
uniprot_entrez = pd.read_csv("../data/idmap/uprot_entrez_new.tsv", sep = "\t").values
ue_map         = {key:value for key, value in uniprot_entrez}

## <span style="color:red">Get the Y2H full human network and the proteins</span>

The annotated HuRi network is annotated with uniprot id.

In [3]:
yf = pd.read_csv("../data/networks/y2h_hc_full.tsv", delim_whitespace = True, header = None)
yf = yf.replace({0: ue_map, 1: ue_map})

yf_prots = set(list(yf[0]) + list(yf[1]))

In [4]:
yf

           0       1         2
0       1203    2222  0.814719
1       1203  254428  0.821118
2       1203  403313  0.802731
3       1203  390212  0.811284
4       1203   84102  0.848161
...      ...     ...       ...
35542   5721    5721  0.805359
35543  27339   51362  0.630000
35544  51617   10692  0.728123
35545  51652   25978  0.590000
35546   9935    9935  0.710000

[35547 rows x 3 columns]

## <span style="color:red">Get the CoIP full human network and the proteins</span>

The annotated CoIP network is also annotated with uniprot Id.

In [5]:
cf = pd.read_csv("../data/networks/coip_hc_full.tsv", delim_whitespace = True, header = None)
cf = cf.replace({0: ue_map, 1: ue_map})
cf_prots = set(list(cf[0]) + list(cf[1]))

In [6]:
cf

           0       1     2
0       5298   64746  0.57
1      64746   10618  0.55
2      64746   25771  0.64
3      64746    2802  0.40
4      64746    5298  0.54
...      ...     ...   ...
29228  51019   57511  0.67
29229  51021   11278  0.42
29230  11278  148789  0.42
29231   9960   23038  0.40
29232  22882   22882  0.51

[29233 rows x 3 columns]

## Shared Proteins and networks

In [28]:
shared_prots = yf_prots.intersection(cf_prots)
cfs = cf[cf[0].isin(shared_prots) & cf[1].isin(shared_prots)]
yfs = yf[yf[0].isin(shared_prots) & yf[1].isin(shared_prots)]
GOBASIC="../data/go/go-basic.obo"
G2GO="../data/go/gene2go"

## <span style="color:red"> Get GO labels for the Y2H Proteins </span>

The GO terms for MF, BP and CC hierarchies are >= 5

In [8]:
print("For Full y2h..")
Y_list = {}
Y_labels = {}
for GO in ["P", "F", "C"]:
    print("--"*50 + GO + "--" * 50)
    Y_list[GO], Y_labels[GO] = get_labels(yf_prots,
                              GOBASIC,
                              G2GO,
                       GOT = GO,
                       min_level = 5,
                       min_protein_annotation = 50,
                       symbol_to_id = lambda x:x)
    
# SHARED
print("+"*100 + "\nFor shared (COIP + y2h)...")
S_list = {}
S_labels = {}
for GO in ["P", "F", "C"]:
    print("--"*50 + GO + "--" * 50)
    S_list[GO], S_labels[GO] = get_labels(shared_prots,
                              GOBASIC,
                              G2GO,
                       GOT = GO,
                       min_level = 5,
                       min_protein_annotation = 50,
                       symbol_to_id = lambda x:x)

For Full y2h..
----------------------------------------------------------------------------------------------------P----------------------------------------------------------------------------------------------------
HMS:0:00:03.118228 335,858 annotations, 20,671 genes, 18,441 GOs, 1 taxids READ: ../data/go/gene2go
18388 IDs in loaded association branch, biological_process
  EXISTS: ../data/go/go-basic.obo
../data/go/go-basic.obo: fmt(1.2) rel(2021-02-01) 47,291 Terms; optional_attrs(relationship)
Labels Obtained! The number of labels obtained is 89
----------------------------------------------------------------------------------------------------F----------------------------------------------------------------------------------------------------
HMS:0:00:03.196414 335,858 annotations, 20,671 genes, 18,441 GOs, 1 taxids READ: ../data/go/gene2go
18388 IDs in loaded association branch, molecular_function
  EXISTS: ../data/go/go-basic.obo
../data/go/go-basic.obo: fmt(1.2) rel(2021-02-01) 47,291 Terms; optional_attrs(relationship)
Labels Obtained! The number of labels obtained is 23
----------------------------------------------------------------------------------------------------C----------------------------------------------------------------------------------------------------
HMS:0:00:03.203250 335,858 annotations, 20,671 genes, 18,441 GOs, 1 taxids READ: ../data/go/gene2go
18388 IDs in loaded association branch, cellular_component
  EXISTS: ../data/go/go-basic.obo
../data/go/go-basic.obo: fmt(1.2) rel(2021-02-01) 47,291 Terms; optional_attrs(relationship)
Labels Obtained! The number of labels obtained is 38
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
For shared (COIP + y2h)...
----------------------------------------------------------------------------------------------------P----------------------------------------------------------------------------------------------------
HMS:0:00:03.239425 335,858 annotations, 20,671 genes, 18,441 GOs, 1 taxids READ: ../data/go/gene2go
18388 IDs in loaded association branch, biological_process
  EXISTS: ../data/go/go-basic.obo
../data/go/go-basic.obo: fmt(1.2) rel(2021-02-01) 47,291 Terms; optional_attrs(relationship)
Labels Obtained! The number of labels obtained is 68
----------------------------------------------------------------------------------------------------F----------------------------------------------------------------------------------------------------
HMS:0:00:03.282180 335,858 annotations, 20,671 genes, 18,441 GOs, 1 taxids READ: ../data/go/gene2go
18388 IDs in loaded association branch, molecular_function
  EXISTS: ../data/go/go-basic.obo
../data/go/go-basic.obo: fmt(1.2) rel(2021-02-01) 47,291 Terms; optional_attrs(relationship)
Labels Obtained! The number of labels obtained is 22
----------------------------------------------------------------------------------------------------C----------------------------------------------------------------------------------------------------
HMS:0:00:03.215637 335,858 annotations, 20,671 genes, 18,441 GOs, 1 taxids READ: ../data/go/gene2go
18388 IDs in loaded association branch, cellular_component
  EXISTS: ../data/go/go-basic.obo
../data/go/go-basic.obo: fmt(1.2) rel(2021-02-01) 47,291 Terms; optional_attrs(relationship)
Labels Obtained! The number of labels obtained is 30

## <span style="color:red"> Get GO labels for the COIP Proteins </span>

The GO terms for MF, BP and CC hierarchies are >= 5

In [9]:
print("For FUll CoIP...")
C_list = {}
C_labels = {}
for GO in ["P", "F", "C"]:
    print("--"*50 + GO + "--" * 50)
    C_list[GO], C_labels[GO] = get_labels(cf_prots,
                              GOBASIC,
                              G2GO,
                       GOT = GO,
                       min_level = 5,
                       min_protein_annotation = 50,
                       symbol_to_id = lambda x:x)

For FUll CoIP...
----------------------------------------------------------------------------------------------------P----------------------------------------------------------------------------------------------------
HMS:0:00:03.131088 335,858 annotations, 20,671 genes, 18,441 GOs, 1 taxids READ: ../data/go/gene2go
18388 IDs in loaded association branch, biological_process
  EXISTS: ../data/go/go-basic.obo
../data/go/go-basic.obo: fmt(1.2) rel(2021-02-01) 47,291 Terms; optional_attrs(relationship)
Labels Obtained! The number of labels obtained is 152
----------------------------------------------------------------------------------------------------F----------------------------------------------------------------------------------------------------
HMS:0:00:02.974387 335,858 annotations, 20,671 genes, 18,441 GOs, 1 taxids READ: ../data/go/gene2go
18388 IDs in loaded association branch, molecular_function
  EXISTS: ../data/go/go-basic.obo
../data/go/go-basic.obo: fmt(1.2) rel(2021-02-01) 47,291 Terms; optional_attrs(relationship)
Labels Obtained! The number of labels obtained is 29
----------------------------------------------------------------------------------------------------C----------------------------------------------------------------------------------------------------
HMS:0:00:03.095288 335,858 annotations, 20,671 genes, 18,441 GOs, 1 taxids READ: ../data/go/gene2go
18388 IDs in loaded association branch, cellular_component
  EXISTS: ../data/go/go-basic.obo
../data/go/go-basic.obo: fmt(1.2) rel(2021-02-01) 47,291 Terms; optional_attrs(relationship)
Labels Obtained! The number of labels obtained is 54

## <span style="color:red">Computation of Average RESNIK similarities for Both Y2H and COIP </span>

In [10]:
from goatools.obo_parser import GODag
from goatools.associations import read_gaf
from goatools.semantic import TermCounts, get_info_content
from goatools.semantic import resnik_sim

GAF_FILE = "../data/go/go-human.gaf"
godag = GODag(GOBASIC)
assoc_f = read_gaf(GAF_FILE, namespace = "MF")
assoc_p = read_gaf(GAF_FILE, namespace = "BP")
assoc_c = read_gaf(GAF_FILE, namespace = "CC")

tcount_f = TermCounts(godag, assoc_f)
tcount_p = TermCounts(godag, assoc_p)
tcount_c = TermCounts(godag, assoc_c)

../data/go/go-basic.obo: fmt(1.2) rel(2021-02-01) 47,291 Terms
HMS:0:00:11.396861 608,616 annotations READ: ../data/go/go-human.gaf
18053 IDs in loaded association branch, MF
HMS:0:00:10.063918 608,616 annotations READ: ../data/go/go-human.gaf
17586 IDs in loaded association branch, BP
HMS:0:00:11.743412 608,616 annotations READ: ../data/go/go-human.gaf
18859 IDs in loaded association branch, CC

In [18]:
def sem_similarity_(go_id, go_ids, go_dag, term_counts, avg = False):
    """
    If avg == True, compute the average Resnik Similarity Instead.
    """
    sims = [resnik_sim(go_id, go_i, go_dag, term_counts) for go_i in go_ids]
    if avg:
        return np.average(sims)
    return np.max(sims)
    
def sem_similarity(gois_1, gois_2, go_dag, term_counts, avg = False):
    """
    If avg == True, use the average Resnik Similarity, provided in Pandey et. al.
    https://academic.oup.com/bioinformatics/article/24/16/i28/201569
    """
    if avg:
        sims = [sem_similarity_(g1, gois_2, go_dag, term_counts) for g1 in gois_1]
        return np.average(sims)

In [12]:
def get_prot_lab_map(labels):
    prot_maps = {}
    for l in labels:
        for prot in list(labels[l]):
            if prot not in prot_maps:
                prot_maps[prot]  = [l]
            else:
                prot_maps[prot] += [l]
    return prot_maps

In [13]:
C_prot = {}
Y_prot = {}
S_prot = {}

for GO in ["P", "F", "C"]:
    C_prot[GO] = get_prot_lab_map(C_labels[GO])
    Y_prot[GO] = get_prot_lab_map(Y_labels[GO])
    S_prot[GO] = get_prot_lab_map(S_labels[GO])
    
avg_results = {"MF": [], "BP": [], "CC": []}

## Complete Y2H network

In [60]:
semf = np.zeros((len(yf), ))
semp = np.zeros((len(yf), ))
semc = np.zeros((len(yf), ))

for i, row in yf.iterrows():
    semf[i] = 0 if not (row[0] in Y_prot["F"] 
                    and row[1] in Y_prot["F"]) else (sem_similarity(Y_prot["F"][row[0]], Y_prot["F"][row[1]], godag, tcount_f, avg = True))
                                                     
    semp[i] = 0 if not (row[0] in Y_prot["P"] 
                    and row[1] in Y_prot["P"]) else (sem_similarity(Y_prot["P"][row[0]], Y_prot["P"][row[1]], godag, tcount_p, avg = True))
                                                     
    semc[i] = 0 if not (row[0] in Y_prot["C"] 
                    and row[1] in Y_prot["C"]) else (sem_similarity(Y_prot["C"][row[0]], Y_prot["C"][row[1]], godag, tcount_c, avg = True))

In [61]:
yf["sf"], yf["sp"], yf["sc"] = [semf, semp, semc]
yf.describe()

,0,1,2,sf,sp,sc
count,3.554700e+04,3.554700e+04,35547.000000,35547.000000,35547.000000,35547.000000
mean,3.400854e+05,2.798144e+05,0.752582,0.154335,0.346105,0.504111
std,5.081320e+06,4.422019e+06,0.089155,0.603805,0.870740,0.856275
min,2.500000e+01,2.000000e+00,0.570000,0.000000,0.000000,0.000000
25%,6.783500e+03,7.186000e+03,0.670059,0.000000,0.000000,0.000000
50%,2.604300e+04,5.122500e+04,0.746727,0.000000,0.000000,0.000000
75%,8.497500e+04,9.099300e+04,0.812264,0.000000,0.000000,0.792815
max,1.027246e+08,1.027236e+08,1.000000,5.047422,9.774858,5.229625

## Complete CoIP network

In [54]:
semf = np.zeros((len(cf), ))
semp = np.zeros((len(cf), ))
semc = np.zeros((len(cf), ))

for i, row in cf.iterrows():
    semf[i] = 0 if not (row[0] in C_prot["F"] 
                    and row[1] in C_prot["F"]) else (sem_similarity(C_prot["F"][row[0]], C_prot["F"][row[1]], godag, tcount_f, avg = True))
                                                     
    semp[i] = 0 if not (row[0] in C_prot["P"] 
                    and row[1] in C_prot["P"]) else (sem_similarity(C_prot["P"][row[0]], C_prot["P"][row[1]], godag, tcount_p, avg = True))
                                                     
    semc[i] = 0 if not (row[0] in C_prot["C"] 
                    and row[1] in C_prot["C"]) else (sem_similarity(C_prot["C"][row[0]], C_prot["C"][row[1]], godag, tcount_c, avg = True))

In [55]:
cf["sf"], cf["sp"], cf["sc"] = [semf, semp, semc]
cf.describe()

,0,1,2,sf,sp,sc
count,2.923300e+04,2.923300e+04,29233.000000,29233.000000,29233.000000,29233.000000
mean,8.694878e+04,1.238927e+05,0.534215,0.457234,1.131040,0.857556
std,2.554814e+06,2.994343e+06,0.137808,0.959193,1.449022,0.879391
min,1.400000e+01,9.000000e+00,0.350610,0.000000,0.000000,0.000000
25%,4.163000e+03,5.071000e+03,0.400000,0.000000,0.000000,0.000000
50%,7.189000e+03,9.399000e+03,0.520000,0.000000,0.558601,0.744317
75%,1.098000e+04,5.172000e+04,0.610000,0.102828,1.773954,1.248741
max,1.002887e+08,1.021574e+08,0.998930,5.444303,9.774858,5.514012

## Shared CoIP network

In [56]:
semf = np.zeros((len(cfs), ))
semp = np.zeros((len(cfs), ))
semc = np.zeros((len(cfs), ))
cfs  = cfs.reset_index(drop = True)
for i, row in cfs.iterrows():
    semf[i] = 0 if not (row[0] in S_prot["F"] 
                    and row[1] in S_prot["F"]) else (sem_similarity(S_prot["F"][row[0]], S_prot["F"][row[1]], godag, tcount_f, avg = True))
                                                     
    semp[i] = 0 if not (row[0] in S_prot["P"] 
                    and row[1] in S_prot["P"]) else (sem_similarity(S_prot["P"][row[0]], S_prot["P"][row[1]], godag, tcount_p, avg = True))
                                                     
    semc[i] = 0 if not (row[0] in S_prot["C"] 
                    and row[1] in S_prot["C"]) else (sem_similarity(S_prot["C"][row[0]], S_prot["C"][row[1]], godag, tcount_c, avg = True))

In [57]:
cfs["sf"], cfs["sp"], cfs["sc"] = [semf, semp, semc]
cfs.describe()

,0,1,2,sf,sp,sc
count,1.384300e+04,1.384300e+04,13843.000000,13843.000000,13843.000000,13843.000000
mean,5.491837e+04,8.849549e+04,0.561407,0.501485,1.132544,0.878391
std,1.905303e+06,2.423077e+06,0.148478,1.017761,1.435584,0.793298
min,2.500000e+01,2.500000e+01,0.351000,0.000000,0.000000,0.000000
25%,4.163000e+03,4.807000e+03,0.419000,0.000000,0.000000,0.013345
50%,7.157000e+03,8.637000e+03,0.530000,0.000000,0.466484,0.860109
75%,1.028900e+04,2.910500e+04,0.660000,0.262303,1.866106,1.248741
max,1.002879e+08,1.021574e+08,0.998930,5.047422,9.774858,5.016432

## Shared Y2H network

In [58]:
semf = np.zeros((len(yfs), ))
semp = np.zeros((len(yfs), ))
semc = np.zeros((len(yfs), ))
yfs  = yfs.reset_index(drop = True)
for i, row in yfs.iterrows():
    semf[i] = 0 if not (row[0] in S_prot["F"] 
                    and row[1] in S_prot["F"]) else (sem_similarity(S_prot["F"][row[0]], S_prot["F"][row[1]], godag, tcount_f, avg = True))
                                                     
    semp[i] = 0 if not (row[0] in S_prot["P"] 
                    and row[1] in S_prot["P"]) else (sem_similarity(S_prot["P"][row[0]], S_prot["P"][row[1]], godag, tcount_p, avg = True))
                                                     
    semc[i] = 0 if not (row[0] in S_prot["C"] 
                    and row[1] in S_prot["C"]) else (sem_similarity(S_prot["C"][row[0]], S_prot["C"][row[1]], godag, tcount_c, avg = True))

In [59]:
yfs["sf"], yfs["sp"], yfs["sc"] = [semf, semp, semc]
yfs.describe()

,0,1,2,sf,sp,sc
count,1.278500e+04,1.278500e+04,12785.000000,12785.000000,12785.000000,12785.000000
mean,6.300346e+04,9.463407e+04,0.760875,0.266358,0.632947,0.662625
std,1.537284e+06,2.187454e+06,0.091156,0.793321,1.154218,0.785764
min,2.500000e+01,2.500000e+01,0.570000,0.000000,0.000000,0.000000
25%,5.565000e+03,5.698000e+03,0.680000,0.000000,0.000000,0.000000
50%,9.533000e+03,1.028600e+04,0.766143,0.000000,0.000000,0.591483
75%,5.504900e+04,5.585600e+04,0.825726,0.000000,0.954116,1.248741
max,1.002897e+08,1.021574e+08,1.000000,5.047422,9.774858,4.883714

## <span style="color:red">Compute the homophily scores</span>

Use the median semantic similarity scores as the threshold

In [64]:
Gy = nx.from_pandas_edgelist(yf, 0, 1, [2, "sf", "sp", "sc"])
Gc = nx.from_pandas_edgelist(cf, 0, 1, [2, "sf", "sp", "sc"])
Gys = nx.from_pandas_edgelist(yfs, 0, 1, [2, "sf", "sp", "sc"])
Gcs = nx.from_pandas_edgelist(cfs, 0, 1, [2, "sf", "sp", "sc"])

In [73]:
import networkx as nx

def compute_homophily_ss(network, threshold, attrtype):
    """
    Compute the semantic similarities from the network with constructed Resnik similarity score.
    """
    homophily = 0
    attrs     = nx.get_edge_attributes(network, attrtype)
    for node in network.nodes():
        neighbors = network.neighbors(node)
        pos, neg = 0, 0
        for n in neighbors:
            ss_thres = 1 if (attrs[(n, node)] if (n, node) in attrs else attrs[(node, n)]) > threshold else 0
            pos     += ss_thres
            neg     += 1 - ss_thres
        homophily += (neg - pos) / (neg + pos)
    homophily /= network.number_of_nodes()
    return homophily

In [86]:
compute_homophily_ss(Gys, 0, "sf")

0.0

In [93]:
sm = ["sf", "sp", "sc"]
results = pd.DataFrame()
results["y2h"] = yf[sm].mean()
results["coip"] = cf[sm].mean()
results["y2h-shared"] = yfs[sm].mean()
results["coip-shared"] = cfs[sm].mean()
results.loc["E1-F"] = [compute_homophily_ss(G, 0, "sf") for (G, adf) in [(Gy, yf),
                                                                                         (Gc, cf),
                                                                                         (Gys, yfs),
                                                                                         (Gcs, cfs)]]
results.loc["E1-P"] = [compute_homophily_ss(G, 0, "sp") for (G, adf) in [(Gy, yf),
                                                                                         (Gc, cf),
                                                                                         (Gys, yfs),
                                                                                         (Gcs, cfs)]]
results.loc["E1-C"] = [compute_homophily_ss(G, 0, "sc") for (G, adf) in [(Gy, yf),
                                                                                         (Gc, cf),
                                                                                         (Gys, yfs),
                                                                                         (Gcs, cfs)]]
results

           y2h      coip  y2h-shared  coip-shared
sf    0.154335  0.457234    0.266358     0.501485
sp    0.346105  1.131040    0.632947     1.132544
sc    0.504111  0.857556    0.662625     0.878391
E1-F  0.702047  0.528088    0.587031     0.505320
E1-P  0.433681 -0.041029    0.235466     0.080142
E1-C -0.004481 -0.280152   -0.246684    -0.342910